/训练+比赛/比赛/2020mathorcup/C/最终提交/C205218承诺书.pdf
/训练+比赛/比赛/2020mathorcup/C/最终提交/C205218附件.zip
/训练+比赛/比赛/2020mathorcup/C/最终提交/C205218计算结果.xlsx
*.xlsx
*.xls
*.csv
/训练+比赛/比赛/国赛/代码/ICA/
/训练+比赛/比赛/国赛/提交/支撑材料.zip
/训练+比赛/比赛/国赛/支撑材料/
.ipynb_checkpoints
/训练+比赛/比赛/国赛/支撑材料.zip
/训练+比赛/比赛/校内选拔赛/